*.o
*.lo
*~
.*.swp
*.so
*.a
*.la
*.orig
*.pc
ngcli
ngspy
ngemu
doxyfile
lib/doc/
raw/doc/
*.m4
m4/
config.*
autom4te.cache/
configure
Makefile
Makefile.in
autoscan.log
configure.scan
compile
install-sh
ltmain.sh
missing
depcomp
build-aux/
libtool
stamp-h1
.deps/
.libs/
INSTALL
